header, footer, figure
{
	border: 1px solid black;
	padding: 5px;
}
main figure
{
	display: inline-block;
	width: 200px;
	height: 250px;
}
main
{
	margin: 0px 20px;
}
header h1
{
	margin-left: 215px;
}
header a
{
	margin-left: 15px;
}
header
{
	overflow: hidden;
}
.logo
{
	background: url("images/logo.jpg") no-repeat;
	float: left;
	/* display: inline-block; */
	min-width: 200px;
	min-height: 200px;
}
.logo
{
	/* background-image: url("images/logo.svg"); */
}
