header
{
	/* Placing */
	position: fixed;
	top: 0px;
	min-height: 48px;
	width: 100%;
	display: inline-block;
	z-index: 4;

	/* Decoration */
	background: #54c0ef url("../images/header.png") repeat-x;
	font-size: 21px;
}
header > nav
{
	/* Placing */
	display: inline-block;
	padding-left: 64px;
}
header > nav > a
{
	/* Placing */
	display: inline-block;
	padding: 13px 30px;

	/* Decoration */
	color: white;
	text-decoration: none;
}
header > nav > a:hover
{
	background: rgba(0, 0, 0, 0.1);
}
.logo
{
	/* Placing */
	float: left;
	width: 48px;
	height: 48px;
	padding: 0px 10px;
	
	/* Decoration */
	background: url("../images/logo.svg") no-repeat center;
}
